{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css'%}"/>
<div class="alert alert-info" align="Center"><h4>BOOK CATEGORY</h4></div>

    {% if latest_bookcategory_list %}
        <table>
            <tr>
                <th>Category</th>
            </tr>
        {% for book in latest_bookcategory_list %}
            <tr>
            	<td>{{book.book_category}}</td>
                <td><a href="{% url 'deletebookcategory' book.id %}">Delete</a></td>
                <td><a href="{% url 'edit_bookcategory' book.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{% url 'add_bookcategory' %}">ADD a New Book category</a>	
    {% else %}	
        <p>No books are available.</p>
    {% endif %}
{% endblock content %}