
table,th,td
{
	padding:15px;
	border:1px ;
	border-collapse:collapse
}
/*.myTable { background-color:#FFFFE0;border-collapse:collapse; }
.myTable th { background-color:#00000;color:white;width:50%; }
.myTable td, .myTable th { padding:5px;border:1px solid #BDB76B; }
*/
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background:#C0C0C0 }
td{
	border:none;
}

.content {
	float: left;
	width: 100%;
	min-height: 540px;
	padding-bottom: 30px;
	height: 100% !important;
}
.menu_header {
	background-color: #ADD8E6;
	width: 100%;
	min-height: 100px !important;
	margin: 0px !important;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 1px 0px 1px 0px;
	float: left;
}

.div_header {
	background-color: #ADD8E6;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 17px;
    width: 95%;
}
footer {
	background-color: #CCCCCC;
	color: #FFFFFF;
	float: left;
	width: 100%;
	min-height: 50px;
	text-align: center;
	padding-top: 5px;
}
.main-content {
	padding:5px 0 10px 0;
	font-size:14px;
	background-color: white;
}
.main-title {
	font-size:19px;
	/*padding:8px 0 8px 0;*/
    font-weight: bold;
}
.align{
	width: 45% !important;
}
textarea{
    height: 32px;
    padding-left: 3px;
    width: 30%;
    margin: auto;
    float: left;
	text-align: center;
}



.form_container {
	margin: auto;
	width: 35%;
	min-height: 100%
}
.form_container .control {
	width: 100%;
	height: 30px;
	float: left;
	padding: 10px;
}
.form_container label{
	display: block !important;
    float: left;
    width: 45%;
}

.form_container input{
	float: left;
	display: block;
	width: 50%;
}
.form_container input[type="button"]{
	width: auto;
}
.form_container select{
	float: left;
	display: block;
	width: 50%;
}

form {
	display: block;
	float: left;
	min-height: 100%;
	width: 100%;
}

.error_message {
	text-align: center;
	color: red;
}
.buttons {
	margin: auto;
    width: 42%;
}
.buttons .btn {
	margin: auto;
width: 20%;
}
.formrow {
	min-height: 40px;
    width: 50%;
    float: left;
}
.formtext {
	float: left;
   	width:50%;
}
.forminput {
	float: left;
	width:50%;
}
.section_1 {
	float: left;	
	width: 90%;
}
.container{
	margin: auto;
	
	width: 100% !important;

}
.content{
	width: 100%;
	margin: auto;
}

.content label{
	float: left;
	width: 40%;
	margin:auto;
}
.content p{
	width: 30%;
	margin: auto;
}

.login {
	width: 30%;
	margin: auto;
}
.add_student {
	width: 30%;
	margin:auto;
}

.add_student label{
	width: 43%;
	float: left;
	display: block;
}
.add_student input{
	width: 50%;
	float: left;
	display: block;
}
.add_student select{
	width: 54%;
	float: left;
	display: block;
}

.errorlist{
	width: 100%;
	margin: auto;
	display: block;
	list-style: none;
	float: right;
}
.errorlist li{
	color: red;
}
#menu{
	font-family: Arial, Verdana;
	font-size:  14px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li{
 	float: left;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 14%;
}
#menu li:hover .sub_menu{
	display: block;
}
.sub_menu li  {
	display: block;
	width: 100% !important;
	height: 30px;
}
.sub_menu {
	display: none;

}

.menu_div {
	float: right;
	width: 60%;
}